<div class="inicio-section content-web">
    <div class="inicio-section__info" data-aos="fade-up">
        <h1 class="inicio-section__info__title">
            <span>HOLA, SOY</span>
            <span class="logo leter-gradiente inicio-section__info__title--resaltado">MATIAS SCIANCALEPORE</span>
            <span class="inicio-section__info__title__text-social"> FULL STACK DEVELOPER <app-social-medias></app-social-medias></span>
        </h1>
        <div class="inicio-section__info__bottons">
            <app-button>CONTACTAME</app-button>
            <app-button [type]="'secundary'" [size]="'medium'">Descargar CV</app-button>
        </div>
    </div>
    <div class="inicio-section__portada" data-aos="fade-up">
        <img src="assets/images/fondoPortada.svg" alt="fondoPortada">
        <img  class="inicio-section__portada__myImg" src="assets/images/my.svg" alt="Portada">
    </div>

</div>
