// backgrounts
$backgrounts-img: url(https://res.cloudinary.com/dtszuh3ma/image/upload/v1755291265/green-dust-and-scratches_qayo9i.png);

//colors lineares
$primary-color: linear-gradient( 
    90deg,
    #00CCC5 0%,
    #04726F 100%,
);
$backgrounts-color: linear-gradient(
    180deg,
    #00060A 85%,
    #003842 100%
);
//colores planos
$white: #FFFFFF;
$white-dark:#cacaca;



//buttons
    //primary
    $btn-primary-text:#000000;
    $btn-primary-background: $primary-color;
    $btn-primary-box-shadow:1px 3px 5px #9d9d9d47;
    $btn-primary-box-shadow-hover:1px 3px 20px #9d9d9d47;

    //secondary
    $btn-secondary-text: $primary-color;
    $btn-secondary-background: transparent;
    $btn-secondary-border:#00CCC5;

    //box shadows
    $box-shadow-1: 0px 4px 20px #000000;
    $box-shadow-primary-button-hover:-4px 6px 12px rgba(170, 170, 170, 0.6), 
                                    4px 6px 12px rgba(170, 170, 170, 0.6);
    
