@use '@styles/colors/darks.scss' as *;
.header-sections{
    display: flex;
    align-items: center;
    &__title{
        display: flex;
        flex-wrap: nowrap;
        margin-right: 3%;
        color: $white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 48px;
    }
    &__bar{
        width: 100%;
        background:$primary-color;
        height: 1px;
    }
}