@use '@styles/colors/darks.scss' as *;
.social-media{
    display: inline-flex; // para centrar contenido inline
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none; // quita el subrayado
    padding: 0; // quita espacio interno si lo hubiera
    background-color: transparent;
    transition: border 0.1s ease-in-out;
    box-shadow: $box-shadow-1;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    &:hover{
        border: solid 0.1px transparent;
        animation: none;
    }
    &--border{
        border: solid 1px $white-dark;
    }
    &__img{
        width: 65%;
        height: 65%;
        // border-radius: 50%;
        object-fit: contain;
        transition: height 0.1s ease-in-out, width 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        // &:hover{
        //     width: 55px;
        //     height: 55px;
        //     box-shadow: $box-shadow-primary-button-hover;
        // } 
    }
}
// @keyframes pulse {
//     0% {
//       transform: scale(1);
//     }
//     50% {
//       transform: scale(1.1);
//     }
//     100% {
//       transform: scale(1);
//     }
//   }